html{
    background: linear-gradient(#CCFFFF,#FFCCCC,#EAAAF0)
}
#title{
    text-align: center;
    font-family:Federant;
}

img{
    height: 100px;
    max-width: 50%;
  display: block;
  height: auto;
  margin: 0  auto;
}
@media (max-width:600px){
    img{
        width: 100%;
    }
}
#intro{
    text-align: center;
    font-size: 20px;
}
h2{
    padding-left:25px;
}
h5{
    padding-left:25px;
}
#footer-para{
    padding-left: 25px;
    background: rgb(212, 129, 219);
    border: 2px solid moccasin;
    padding-top: 5px;
    text-align: center;
}

#img-caption{
font-size: 19px;
padding-left:25px;
text-align: center;

}

li{
    font-size: 20px;
    padding-top: 10px;

}
h3{
    padding-left:25px;
}
#img-div{
    background: #CCFFFF;
    margin-left:0px 20px 0px 20px;
      border:3px solid #FFCCCC;
      border-radius: 10%;
      padding-top: 10px;
}
h1{
    font-family: Abril Fatface;
}
#Quote{
    font-size: 20px;
    background: rgb(240, 141, 210);
    border:3px solid moccasin;
    border-radius: 20%;
    margin-top:10px;
}
#tribute-info{
    background: #EAAAF0;
    border:3px solid #FFCCCC;
    border-radius: 10%;
}
a:hover {
    color:blue;
}